#playlist {
    display:table;
}
#playlist li{
    cursor:pointer;
    padding:8px;
}
#curlist {
    display:table;
	
}
#curlist ul {
	list-style-type: none;
    cursor:pointer;
    padding:8px;
	
}
#curlist ul li {
	display: inline;
	margin-right: 5px;
	padding: 3px;
}
#curlist ul li + li {
	border: 1px solid #000;
}
#curlist ul li:hover{
    color:blue;                        
}
#playlist li:hover{
    color:blue;                        
}
#player {
    width:640px;
    height:480px;
    margin:10px;    
    border:1px solid silver;
}